@model IEnumerable<ReklamotvTeknikServis.StoktakiUrunler>

@{
    ViewBag.Title = "Index";
    int rowcount=0;
}


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box purple">
            <div class="portlet-title">
                <div class="caption">
                    Stoktaki Ürünler
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>

                                </th>
                                <th>
                                    Stok Adı
                                </th>
                                <th>
                                   Alış Fiyatı
                                </th>
                                <th>
                                    Genel Adı
                                </th>
                                <th>
                                    Adet
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                
                                <tr>
                                    <td>
                                       @{
                                        rowcount++;
                                       }
                                       @rowcount
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UrunAdi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UrunAlisFiyati)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GenelUrunler.Urun_adi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UrunAdet)
                                    </td>
                                    <td>
                                        <span class="label label-sm label-danger">

                                            @Html.ActionLink("Sil", "Delete", new { id = item.UrunStok_id }, new { @style = "color:white" })
                                        </span>
                                        <span class="label label-sm label-warning">
                                            @Html.ActionLink("Düzenle", "Edit", new { id = item.UrunStok_id }, new { @style = "color:white" })
                                        </span>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
