@model ReklamotvTeknikServis.SikayetUrunler

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SikayetUrunler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrunAdet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAdet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SikayetTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SikayetTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firmalar.FirmaAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firmalar.FirmaAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SatilanUrunler.SatilanUrun_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SatilanUrunler.SatilanUrun_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SikayetTur.SikayetAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SikayetTur.SikayetAciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoktakiUrunler.UrunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoktakiUrunler.UrunAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
