@model ReklamotvTeknikServis.PersonelTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PersonelTable</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Personel_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personel_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personel_soyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personel_soyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personel_departman)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personel_departman)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Personel_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
