@model ReklamotvTeknikServis.SatilanUrunler

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SatilanUrunler</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SatilanUrun_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SatilanUrun_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrununGirisTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrununGirisTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrununSatilisTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrununSatilisTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunSatisFiyati)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunSatisFiyati)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunToplamKar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunToplamKar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenelUrunler.Urun_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenelUrunler.Urun_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoktakiUrunler.UrunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoktakiUrunler.UrunAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonelTable.Personel_adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonelTable.Personel_adi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SatilanUrun_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
